img {
  width: 100%;
}

.logo{
  float: left;
  width: 35%;
  margin-left: 3%;
  margin-top: 2%;
  display: flex;
}

.row {
  float: right;
  margin-right: 4%;
  margin-top: 3%;
  width: 12%;
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 6%;
}

.column_main {
  flex: 60.00%;
  padding: 2%;
}

.column_sub {
  flex: 13.33%;
  padding: 1%;
  position: relative;
}

.column_sub img {
    position: absolute;
    left: 0;
    bottom: 0;
}